<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    <meta name="description" content="">
        
    <meta name="author" content="">
        <title>Signin Template for Bootstrap</title>
        
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        
    <link href="assets/css/signin.css" rel="stylesheet">
        
    <script src="assets/js/jquery-3.4.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</head>
<body class="text-center">
<form lass="form-signin" th:action="@{/login}" method="post">
        <!-- 取值替换原来默认的值-->
        <img class="mb-4"  src="assets/img/bootstrap-solid.svg"  alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <p style="color:#ff0000" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <label class="sr-only" >Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username"
               required="" autofocus="">
        <label class="sr-only" >Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password"
               required="">
        
    <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"/> Remember me
                </label>
            
    </div>
        
    <button class="btn btn-lg btn-primary btn-block" type="submit"  >Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
</form>
</body>
</html>